body {
    position: relative;
    max-width: 1500px;
}

#main {
    padding: 10px;
    margin-right: 410px;
    /*color: #868a08;*/
}

#main h1 { color: #b3000c; }
#main h2 { font-size: 24px; border-bottom: 1px solid #aaa; padding-bottom: 0.25em; }
#main h3 { font-size: 20px; text-transform: uppercase; }

#panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 402px;
    background-color: #80b807;
    height: 100%;
    border-left: 1px solid #ccc;
    box-shadow: -5px 0 25px #ccc;
}

#panel h1 { font-size: 18px; }
#panel h2 { font-size: 12px; margin: 10px 0 5px; font-weight: normal; }
#panel #top { background-color: #bfd575; }

#pond {
    position: relative;
    width: 100%;
    height: 390px;
    background-color: #fff;
    /*border: 1px solid #aaa;*/
    padding: 10px;
    display: block;
    margin-top: 5px;
}

/*#pond .fish {
    position: absolute;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    font-size: 12px;
    width: 120px;
    height: 50px;
    border: 2px solid #000000;
    transition-duration: 1s;
    top: 160px;
    left: 130px;
    cursor: pointer;
}*/

#pond text, #pond rect {
    cursor: pointer;
}

/*#pond #current {
    border: 2px solid #8b0000;
    background-color: #f08080;
    z-index: 100;
    cursor: default;
}*/

.pondtitle {
    padding: 0.5em;
    background-color: #285c00;
    font-family: "Bitter", serif;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#navcontrol {
    font-size: 12px;
    margin: 0px;
    padding: 3px 10px;
}

#navcontrol li {
    list-style-type: none;
    float: left;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#navcontrol li.arrow {
    padding: 0 5px;
}

#navcontrol li a, #historylist li a {
    color: #333;
    text-decoration: underline;
}

#navcontrol li.clock { padding-right: 3px; cursor: pointer; }
#navcontrol li.clock img { width: 18px; height: 18px; margin-right: 2px; }

#historylist {
    font-size: 12px;
    z-index: 1100;
    position: fixed;
    border: 1px solid #444;
    box-shadow: 0px 5px 20px #888;
    background-color: #bfd575;
    padding: 0;
    display: none;
}

#historylist li {
    max-width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.25em;
    list-style-type: none;
}

#historylist li.empty { text-align: center; width: 150px; }

#goback, #gofwd {
    visibility: hidden;
}

#hoverpop {
    width: 300px;
    height: 200px;
    position: fixed;
    box-shadow: 5px 5px 10px #aaa;
    background-color: #ffffca;
    color: #000023;
    z-index: 1000;
    border: 1px solid #aaa;
    padding: 1em;
    border-radius: 5px;
    font-size: 14px;
}

#hoverpop h1 {
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

#sliders {
    padding: 1px 10px 10px;
    background-color: #bfd575;
}

.slider {
    margin: 5px 10px 5px 30px;
}

#summary {
    background-color: #e6f07c;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}

#toc {
    font-size: 12px;
    color: #888;
    margin: 2em 0;
}

#toc:before {
    content: "Table of Contents";
    font-weight: 400;
}

.sheader {
    transition-duration: 1s;
}

.highlight {
    background-color: yellow;
}

.scontent br:last-child, .scontent br:first-child { display: none; }

#pagetitle { margin-top: 10px; }

.bhc-youtube-summary { display: none; }

#topbutton {
    width: 75px;
    margin-left: -75px;
    left: 50%;
}

#ajaxloading {
    width: 80px;
    margin-left: -80px;
    left: 60%;
}

.alert.status {
    position: fixed;
    top: -35px;
    font-size: 12px;
    text-align: center;
    display: none;
    padding: 5px;
}

#legend {
    font-size: 12px;
    padding: 5px 0;
}

#legend div {
    float: left;
    width: 50%;
    padding-left: 10px;
}

#legend .box {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #333;
    margin: 0 5px -3px 5px;
}

#legend .a { background-color: #add8e6; }
#legend .b { background-color: #98fb98; }
#legend .c { background-color: #ffc0cb; }
#legend .d { background-color: #ffd700; }
#legend .e { background-color: #da70d6; }
#legend .w { background-color: #fff; }

.dimension .enabled {
    width: 20px;
    float: left;
    margin-top: 20px;
}

.dimension .lbl {
    font-weight: bold;
    font-size: 12px;
    padding-top: 3px;
}

.dimension em.small { display: none; }

.footer {
    text-align: center;
    color: #285c00;
    font-size: 12px;
    margin-top: 7px;
    font-weight: bold;
}

#current-fish {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 500px;
    top: 300px;
    border: 1px solid #333;
    border-radius: 5px;
    z-index: 9999;
    display: none;
}
