#main {
    padding: 10px;
    margin-right: 400px;
    color: #868a08;
}

#panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    padding: 10px;
    background-color: #eee;
}

#panel h1 { font-size: 16px; margin: 15px 0; }
#panel h2 { font-size: 14px; margin: 1.2em 0; font-style: italic; font-weight: bold; }

#pond {
    position: relative;
    width: 385px;
    height: 370px;
    background-color: #fff;
    border: 1px solid #aaa;
}

/*#pond .fish {
    position: absolute;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    font-size: 12px;
    width: 120px;
    height: 50px;
    border: 2px solid #000000;
    transition-duration: 1s;
    top: 160px;
    left: 130px;
    cursor: pointer;
}*/

#pond text, #pond rect {
    cursor: pointer;
}

/*#pond #current {
    border: 2px solid #8b0000;
    background-color: #f08080;
    z-index: 100;
    cursor: default;
}*/

.pondtitle {
    padding: 0.5em 1em;
    font-weight: bold;
    text-align: center;
}

#navcontrol {
    font-size: 12px;
    text-align: center;
}

#goback, #gofwd {
    visibility: hidden;
}

#hoverpop {
    width: 300px;
    height: 200px;
    position: fixed;
    box-shadow: 5px 5px 10px #aaa;
    background-color: #ffffca;
    color: #000023;
    z-index: 1000;
    border: 1px solid #aaa;
    padding: 1em;
    border-radius: 5px;
    font-size: 14px;
}

#hoverpop h1 {
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

#sliders { margin-top: 1em; }

.slider {
    margin: 5px 10px;
}

#summary {
    background-color: #eee;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}

#toc {
    font-size: 12px;
    color: #aaa;
    margin: 2em 0;
}

#toc:before {
    content: "Table of Content";
    font-weight: bold;
}

.sheader {
    transition-duration: 1s;
}

.highlight {
    background-color: yellow;
}

.scontent br:last-child, .scontent br:first-child { display: none; }

#pagetitle { margin-top: 10px; }

.bhc-youtube-summary { display: none; }

#topbutton {
    width: 75px;
    margin-left: -75px;
    left: 50%;
}

#ajaxloading {
    width: 80px;
    margin-left: -80px;
    left: 60%;
}

.alert.status {
    position: fixed;
    top: -35px;
    font-size: 12px;
    text-align: center;
    display: none;
    padding: 5px;
}

#legend {
    font-size: 12px;
    text-align: center;
    padding-bottom: 1em;
}

#legend .box {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 0 5px -3px 5px;
}

#legend .a { background-color: #add8e6; }
#legend .b { background-color: #98fb98; }
#legend .c { background-color: #ffc0cb; }
#legend .d { background-color: #ffe4b5; }
#legend .w { background-color: #fff; }
