<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Full Screen Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        html, body { padding: 0; margin: 0; overflow: hidden; }
        #pond { background-color: lightcyan; }
    </style>
</head>
<body>
    <header class="container my-3">
        <h1>Exploratory Engine Full Screen Test</h1>
        <button class="btn btn-sm btn-primary" id="load-button">Random Items</button>
    </header>

    <div class="container p-3" id="pond"></div>

    <script type="module">
        import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

        function rn(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.trunc(Math.random() * (max - min + 1)) + min;
        }

        function loadData() {
            let a = rn(1, 20), b = 10, c = 10, d = 10;
            const url = `catchfish?article=560&sliders%5B%5D=${a}&sliders%5B%5D=${b}&sliders%5B%5D=${c}&sliders%5B%5D=${d}&checkboxes%5B%5D=true&checkboxes%5B%5D=true&checkboxes%5B%5D=true&checkboxes%5B%5D=true&filters%5B%5D=true&filters%5B%5D=true&filters%5B%5D=true&filters%5B%5D=true&filters%5B%5D=true`;
            fetch(url).then((resp) => {
                if (resp.ok) {
                    resp.json().then((x) => console.log(x))
                }
            });
        }

        function resizeHandler() {
            const pond = document.getElementById("pond");
            const h = window.visualViewport ? window.visualViewport.height : window.innerHeight;
            pond.style.height = `${h - pond.getBoundingClientRect().top}px`;
        }
        window.visualViewport.addEventListener("resize", resizeHandler);
        window.addEventListener("load", () => {
            resizeHandler();
            loadData();
        });
        document.getElementById("load-button").addEventListener("click", loadData);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>