<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Full Screen Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        html, body { padding: 0; margin: 0; overflow: hidden; }
        #pond { background-color: lightcyan; overflow-y: scroll; overflow-x: hidden;
            display: flex; flex-wrap: wrap; position: relative; }
        #pond > * { transform-origin: left top; }
        .fish, .ghost { border-radius: .5rem; border: 1px #ccc solid;
            width: 20vw; cursor: default; background-color: #ffffe1; }
        .fish { flex-grow: 1; margin: .5rem; z-index: 10; }
        .ghost { position: absolute; z-index: 100; opacity: .9; }
        .color-block { width: 1rem; height: 1rem; border: 1px #ccc solid; margin-top: .25rem; }
    </style>
</head>
{% load static %}
<body data-images='["{% static 'images/bg1.jpg' %}", "{% static 'images/bg2.jpg' %}", "{% static 'images/bg3.jpg' %}"]'>
    <header class="container my-3">
        <h1>Exploratory Engine Full Screen Test</h1>
        <button class="btn btn-sm btn-primary" id="random-button">Random</button>
        <button class="btn btn-sm btn-danger" id="delete-button">Delete No. 2</button>
        <button class="btn btn-sm btn-secondary" id="shuffle-button">Shuffle</button>
        <input id="slider" type="range" class="form-range pt-3" min="1" max="20" step="1" value="10" style="width: 15rem;">
    </header>

    <div class="container p-3" id="pond"></div>

    <script type="module">
        import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

        const animateDuration = 750;
        const lorem = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
        const images = JSON.parse(document.body.dataset.images || "[]")
        console.log(images)
        let currentClientRects = new Map();

        function rn(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.trunc(Math.random() * (max - min + 1)) + min;
        }

        function loadData() {
            let a = document.getElementById("slider").value, b = 10, c = 10, d = 10;
            const url = `catchfish?article=560&sliders%5B%5D=${a}&sliders%5B%5D=${b}&sliders%5B%5D=${c}&sliders%5B%5D=${d}&checkboxes%5B%5D=true&checkboxes%5B%5D=true&checkboxes%5B%5D=true&checkboxes%5B%5D=true&filters%5B%5D=true&filters%5B%5D=true&filters%5B%5D=true&filters%5B%5D=true&filters%5B%5D=true`;
            fetch(url).then((resp) => {
                if (resp.ok) {
                    resp.json().then((x) => {
                        window.fishData = x.result;
                        displayFishes();
                    });
                } else {
                    alert("Load data error");
                }
            });
        }

        function removeData() {
            window.fishData.splice(1, 1);
            displayFishes();
        }

        function shuffleData() {
            window.fishData = window.fishData.map(value => ({value, sort: Math.random()}))
                .sort((a, b) => a.sort - b.sort)
                .map(({value}) => value)
            displayFishes();
        }

        function animateFishesIn(selection) {
            const pondBottom = document.getElementById("pond").getBoundingClientRect().bottom;
            const oldRects = currentClientRects;
            const newRects = new Map();
            let i = 0;
            for (const elem of selection) {
                const old = oldRects.get(elem.id);
                const updated = elem.getBoundingClientRect();
                newRects.set(elem.id, updated);
                let translateX, translateY;
                if (old) {
                    translateX = old.x - updated.x;
                    translateY = old.y - updated.y;
                } else {
                    translateX = 0;
                    translateY = pondBottom;
                }
                elem.animate([
                    {transform: `translate(${translateX}px, ${translateY}px)`},
                    {transform: "none"}
                ], {duration: animateDuration, easing: "ease-out"})
            }
            currentClientRects = newRects;
        }

        function animateFishesOut(selection) {
            const pond = document.getElementById("pond");
            const pondRect = pond.getBoundingClientRect();
            for (const elem of selection) {
                const rect = elem.getBoundingClientRect();
                const ghostElem = document.createElement("div");
                ghostElem.className = "ghost card";
                ghostElem.style.left = `${rect.x - pondRect.x}px`;
                ghostElem.style.top = `${rect.y - pondRect.y + pond.scrollTop}px`;
                ghostElem.style.width = `${rect.width}px`;
                ghostElem.style.height = `${rect.height}px`;
                ghostElem.innerHTML = elem.innerHTML;
                pond.appendChild(ghostElem);
                ghostElem.animate([
                    {transform: `translate(0px, ${pondRect.bottom + pond.scrollTop}px)`}
                ], {duration: animateDuration, easing: "ease-out"}).finished.then(() => ghostElem.remove());
            }
        }

        function displayFishes() {
            const pond = d3.select("#pond");
            const fishes = pond.selectAll("div.fish").data(window.fishData, (r) => r.id);

            fishes.join(
                enter => {
                    const fish = enter.append("div")
                        .attr("class", "fish card")
                        .attr("id", (r) => "fish-" + r.id)

                    fish.append("img")
                        .attr("class", "card-img-top")
                        .attr("src", (r) => images[r.id % 3])

                    const div = fish.append("div")
                        .attr("class", "card-body")
                    div.append("h5")
                        .attr("class", "card-title")
                        .text((r) => r.title);
                    div.append("div")
                        .attr("class", "small")
                        .text((r) => lorem.substr(0, rn(50, 120)));
                    div.append("div")
                        .attr("class", "color-block")
                        .style("background-color", (r) => r.color);

                    return fish;
                },
                update => update,
                exit => exit.call(animateFishesOut).remove()
            )
            .call(animateFishesIn);
        }

        // UI handling utilities
        function resizeHandler() {
            const pond = document.getElementById("pond");
            const h = window.visualViewport ? window.visualViewport.height : window.innerHeight;
            pond.style.height = `${h - pond.getBoundingClientRect().top}px`;
        }
        window.visualViewport.addEventListener("resize", resizeHandler);
        window.addEventListener("load", () => {
            resizeHandler();
            loadData();
        });
        document.getElementById("slider").addEventListener("input", loadData);
        document.getElementById("random-button").addEventListener("click", () => {
            document.getElementById("slider").value = rn(1, 20);
            loadData();
        });
        document.getElementById("shuffle-button").addEventListener("click", shuffleData);
        document.getElementById("delete-button").addEventListener("click", removeData);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>