<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    {% load staticfiles %}
    <script src="{% static 'jquery-1.11.2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery-ui.min.css' %}">
    <script src="{% static 'jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'article.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="main">
        <h1 id="pagetitle">Home</h1>
        <div id="acontent"></div>
    </div>

    <div id="panel">
        <h1>Explore this topic...</h1>
        <div id="pond">
            <div class="fish" id="current">CENTER</div>
        </div>
        <div id="sliders">
            <div class="dimension">
                <span class="pull-left">Short</span>
                <span class="pull-right">Long
                    <em class="small"> (<span class="slidervalue">10</span>)</em></span>
                <br class="clearfix">
                <div class="slider" data-dim="0"></div>
            </div>

            <div class="dimension">
                <span class="pull-left">Text</span>
                <span class="pull-right">Image
                    <em class="small"> (<span class="slidervalue">10</span>)</em></span>
                <br class="clearfix">
                <div class="slider" data-dim="1"></div>
            </div>

            <div class="dimension">
                <span class="pull-left">Less Related</span>
                <span class="pull-right">More Related
                    <em class="small"> (<span class="slidervalue">10</span>)</em></span>
                <br class="clearfix">
                <div class="slider" data-dim="2"></div>
            </div>
        </div>
    </div>
</body>
</html>
